<%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.label :league_id, "League ID" %><br />
    <%= f.text_field :league_id %>
  </div>
  <div class="field">
    <%= f.label :league_password, "League Password" %><br />
    <%= f.text_field :league_password %>
  </div>